@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* privatebrowsingmode tabbar change color */
/*
#main-window[privatebrowsingmode="temporary"] #TabsToolbar, #main-window[privatebrowsingmode="temporary"] #tabbrowser-tabs {
  background-color: rgb(37, 0, 62) !important;
}

#main-window[privatebrowsingmode="temporary"]
{
	--lwt-text-color: white !important;
}*/

/* normal browsing change color */

#TabsToolbar, #tabbrowser-tabs, #alltabs-button, #new-tab-button, .private-browsing-indicator {
	background-color: #34495E !important; /*rgb(232, 126, 4) !important;*/  /* orange navbar */
	color: white !important;						/* tab text in white */
}

.private-browsing-indicator {
	margin-left: 0 !important;
	margin-right: 0 !important;
	background-size: calc(100% - 7px - 7px) auto !important;
	width: calc(24px + 7px + 7px) !important;
}

/* selected tab black text for redibility */
/*
#TabsToolbar .tabbrowser-tab[selected] {
	color: black !important;
}*/

/* remove blue top border */
/*
#TabsToolbar .tabbrowser-tab[selected] .tab-line {
	display: none !important;
}*/

/* remove blue top border */
/*
#TabsToolbar .tabbrowser-tab .tab-line {
	display: none !important;
}*/

/* move reload button inside search bar */
/*
#reload-button, #stop-button {
	background: white !important;
	
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	margin-left: -8px !important;
	margin-right: 8px !important;
	
	border-left: 1px solid rgb(204, 204, 204) !important;
	border-right: 1px solid white !important;
	
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#reload-button:hover, #stop-button:hover {
	border-right: 1px solid rgb(230, 230, 230) !important;
}

#urlbar {
    padding-right: 30px !important;
    margin-right: -23px !important;
}*/
